@import "tailwindcss";

.container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.cele {
  max-width: 200px;
}

.userimage {
  width: 40px;
}

#popUp{
  position: fixed;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.sezBtnAlert{
  display: flex;
  gap: 10px;
}
@media (min-width: 1000px) {
  #catResp{
   display: none;
  }
}
.ezy__epoverview4 {
  /* Bootstrap variables */
  --bs-body-color: #23262f;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-secondary-color-rgb: 0, 0, 0;
  --ezy-button-color: #fff;
  --ezy-rating-color: #ffc107;
  --ezy-card-bg: #f8f8f8;
  --ezy-product-color: rgba(var(--ezy-secondary-color-rgb), 0.1);

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
}

@media (min-width: 768px) {
  .ezy__epoverview4 {
    padding: 100px 0;
  }
}

