@import "tailwindcss";

.container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.cele {
  max-width: 200px;
}

.userimage {
  width: 40px;
}

#popUp{
  position: fixed;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.sezBtnAlert{
  display: flex;
  gap: 10px;
}